@charset "UTF-8";
/* CSS Document */

#n3s_body {
	z-index: 1;
}
#n3s_mp3player {
	position: fixed;
	bottom: 0px;
	left: 0px;
	
	width: 100%;
	height: 35px;
	
	z-index: 30;
	background-color: #ffffff;
	border-top: 1px solid #000000;
	text-align: center;
}
#n3s_flash {
	width: 300px;
}
#n3s_playlist_button {
	margin-top: 8px;
}
#n3s_error {
	position: absolute;
	z-index: 99;
	left: 50%;
	top: 50%;
	width: 300px;
	margin-left: -150px;
	height: 100px;
	margin-top: -100px;
	display: none;
	background-color: white;
	border: 1px solid black;
}
#n3s_error_text {
	height: 60px;
}
#n3s_error_button {
	width: 100%;
	text-align: center;
}
#n3s_playlist {
	position: fixed;
	bottom: 35px;
	background-color: white;
	border: 1px solid black;
	border-bottom: 1px solid #ffffff;
	display: none;
	height: 200px;
	overflow: auto;
	width: 365px;
	z-index: 70;
	text-align: center;
}
#n3s_playlist h3 {
	padding-top: 50px;
	font-size: 24px;
}
div.n3s_playlist_item {
	cursor: pointer;
	background-color: #ffffff;
	text-align: left;
	padding-left: 5px;
	height: 18px;
	line-height: 18px;
	font-size: 11px;
	overflow: hidden;
	color: #000000;
}
div.n3s_playlist_item:hover {
	cursor: pointer;
	background-color: #efefef;
}
